<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KekStarter</title>
    <base href="~/" />

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/primeng.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/theme.css"/>
    <link href="//cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/54559d47e3.js"></script>
    <script src="//cdn.quilljs.com/1.0.0/quill.min.js" type="text/javascript"></script>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
