<br><br><br>

<div>
    <div class="container">
        <div id="main">
            <div class="row" id="real-estates-detail">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <header class="panel-title">
                                <div class="text-center">
                                    <strong>User</strong>
                                </div>
                            </header>
                        </div>

                        <div id="author">
                            <div class="imageBlock" style="background: #e5e5e5">
                                <h3>Image block</h3>
                                <img src="" id="mainPhoto" />
                                <div class="hover" style="background: blue">
                                    <label id="labelPhoto" title="Change main photo">
                                        <span class="glyphicon glyphicon-camera" style="margin-top:3%;"></span>
                                        Change photo
                                        <input class="hidden" type="file" "  />
                                    </label>
                                </div>
                            </div>
                            <h4 style="text-align: center;"><b>UserFirstName UserSecondName</b></h4>

                        </div>

                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="panel" style="background: green">

                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#detail" data-toggle="tab">About me</a></li>
                                <li class=""><a href="#contact" data-toggle="tab">Achivements</a></li>
                                <li class=""><a href="#projects" data-toggle="tab">Projects</a></li>


                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <hr>
                                <div class="tab-pane fade active in" id="detail">
                                    <h4>Profile</h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                            <tr><td class="active">Registered:</td><td>07-08-2017</td></tr>
                                            <tr>
                                                <td class="active">FirstName:</td>
                                                <td>
                                                    <input class="input-large" [(ngModel)]="user.firstName" style="border: none; padding: 0;" readonly="readonly" />
                                                    <input maxlength="20" class="inputProfile" style="width:100%" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">LastName:</td>
                                                <td>
                                                    <input class="input-large readInput" readonly="readonly" />
                                                    <input maxlength="20" class="inputProfile" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Country:</td>
                                                <td>
                                                    <input class="input-large readInput" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input maxlength="20" class="inputProfile" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">City:</td>
                                                <td>
                                                    <input class="input-large readInput" style="outline: 0 ; border: 0; padding: 0;" readonly="readonly" />
                                                    <input maxlength="20" class="inputProfile" *ngIf="!changeField" type="text" [(ngModel)]="user.city" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">DateOfBirth:</td>
                                                <td>
                                                    <input type="date" class="readInput" readonly="readonly" />
                                                    <input type="date" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="active">Rating:</td>
                                                <td>rating</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="contact" style="background: red">
                                    <p>Achivements</p>
                                    <div class="row-fluid">
                                        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4" *ngFor="let achivment of achivments">
                                            <h3 class="text-center" style="align-content:center;">AchivementName</h3>
                                            <img src="" style="width: 200px; height: 200px;">
                                            <div class="caption">
                                                <p class="text-center" style="padding-top:10px;">AchivementDescription</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="user" class="tab-pane fade" id="projects">
                                    <p></p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>