<div class="container-fluid">
    <div class="row backgroundPlate"></div>
    <div class="row profileMain text-center">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12">
            <div class="profileImage">
                <img src="https://res.cloudinary.com/dbsjugefb/image/upload/w_250,h_250,c_thumb,r_max/v1505042128/aux-head-1503076719-20170818_kurejczik_t_mkhj5d.jpg" class="round" />
            </div>
            <div class="info">
                <div class="name">
                    <strong>Ivan Malich</strong>
                </div>
                <div class="otherInfo">
                    <div class="registrationDate">Registration: 13.09.2017</div>
                    <div class="rating">Raiting: 87</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active">
                <a href="#followedProjects" data-toggle="tab" aria-controls="followedProjects" role="tab" title="FollowedProjects">Followed projects</a>
            </li>
            <li role="presentation">
                <a href="#userProjects" data-toggle="tab" aria-controls="userProjects" role="tab" title="UserProjects"> Your projects</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" role="tabpanel" id="followedProjects">
                <div class="row text-center" style="padding-top: 10%;">
                    <h3 style="opacity: 0.5"> You have no followed projects</h3>
                </div>
            </div>
            <div class="tab-pane fade" role="tabpanel" id="userProjects">
                <div class="row text-center" style="padding-top: 10%;">
                    <h3 style="opacity: 0.5"> You have no projects</h3>
                </div>
            </div>
        </div>
    </div>
</div>