.container-fluid {
    position: relative;
}

.row.backgroundPlate {
    box-sizing: border-box;
    height: 650px;
    margin-top: -3%;
    background: #534f60;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container {
    background-color: white;
    margin-top: -200px;
    padding-top: 230px;
    z-index: 10;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.profileMain {
    margin-top: -450px;
    z-index: 40;
}

.profileImage {
    margin-bottom: -10%;
}

.info {
    box-sizing: border-box;
    height: 300px;
    padding-top: 15%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info .name {
    font-size: 25px;
    margin-bottom: 20px;
}

.otherInfo {
    display: inline-block;
}

.round {
    border-radius: 50%;
    width: 250px;
}