<div class="container-fluid">
    <div class="row backgroundPlate"></div>
    <div class="row profileMain text-center">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12">
            <div class="profileImage">
                <img src="{{imageUrl}}" class="round" />
                <div class="hover">
                    <label id="labelPhoto" title="Change main photo">
                        <span class="glyphicon glyphicon-camera" style="margin-top:3%;"></span>
                        <input class="hidden" type="file" ng2FileSelect [uploader]="uploader" (change)="onChange($event)" />
                    </label>
                </div>
            </div>
            <div class="info">
                <div class="name">
                    <strong>Ivan Malich</strong>
                </div>
                <div class="otherInfo">
                    <div class="registrationDate">Registration: 13.09.2017</div>
                    <div class="rating">Raiting: 87</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#content" data-toggle="tab">
                            Followed projects
                        </a>
                    </li>
                    <li>
                        <a href="#comments" data-toggle="tab">
                            Your projects
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="content">

                    </div>
                    <div class="tab-pane" id="comments">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>