<div class="container">
    <div class="row title">
        <div class="col-xs-8 project_head">
            <div class="project_heading">{{project.title}}</div>
        </div>
        <div class="col-xs-4 pull-right" style="margin-top: 50px">
            <p style="color: rgba(204, 204, 204, 1);">Created by <a style="color: #1d1d1d" routerLink="/profile/{{project.user.id}}">{{project.user.firstName}} {{project.user.secondName}}</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 mainImage">
            <div class="image">
                <img src="{{project.image}}">
            </div>
        </div>

        <div class="col-xs-4">
            <div class="stats">
                <div class="stats-item">
                    <strong class="stats-item_strong">{{project.sponsors}}</strong>
                    <div class="stats-item_caption">{{'displayProject.sponsors' | translate:lang }}</div>
                </div>
                <div class="stats-item">
                    <span class="stats-item_sum">
                        <strong class="stats-item_strong stats-item_strong--sum">{{project.currentSum}}</strong>
                        <span class="stats-item_currency">BYN</span>
                        <sup class="stats-item_percentage">{{project.progress}} %</sup>
                    </span>
                    <div class="stats-item_caption">{{'displayProject.required' | translate:lang }} {{project.requiredSum}} BYN</div>
                </div>
                <div class="stats-item">
                    <strong class="stats-item_strong">{{project.leftOver}}</strong>
                    <div class="stats-item_caption">{{'displayProject.leftover' | translate:lang }}</div>
                </div>
                <div class="stats-item">
                    <p class="stats-item_info">
                        {{'displayProject.projectGoal' | translate:lang }} {{project.requiredSum}} BYN
                        <br>
                        {{'displayProject.time' | translate:lang }} — {{project.dateEnd}}
                    </p>
                    <a *ngIf="!preview && !project.followed" (click)="followProject()" class="btn  btn_subscribe" [ngClass]="{'disabled' : guest}">{{'displayProject.follow' | translate:lang }}</a>
                    <a *ngIf="!preview && project.followed" (click)="unFollowProject()" class="btn  btn_subscribe">{{'displayProject.unfollow' | translate:lang }}</a>
                    <a *ngIf="preview && !project.followed" (click)="refactor()" class="btn  btn_subscribe">{{'displayProject.edit' | translate:lang }}</a>
                    <a href="#" class="btn  btn_support" *ngIf="!preview" [ngClass]="{'disabled' : guest}" data-toggle="modal" data-target="#purchase" style="cursor: pointer">{{'displayProject.subscribe' | translate:lang }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: -15px; margin-left: -20px">
        <div class="col-xs-8" *ngIf="!preview">
            <div class="line">
                <h4 >{{'displayProject.tags' | translate:lang }}:</h4>
            </div>
            <div class="line" style="vertical-align: bottom">
                <a *ngFor="let tag of project.tags" class="tag" routerLink="/projects/all/tag/{{tag}}">{{tag}}  </a>
            </div>
        </div>
        <div class="col-xs-8" *ngIf="preview">
            <div class="line">
                <h4>{{'displayProject.tags' | translate:lang }}:</h4>
            </div>
            <div class="line" style="vertical-align: bottom">
                <a *ngFor="let tag of project.tags" class="tag">{{tag}}  </a>
            </div>
        </div>
        <div class="col-xs-4">
            <div *ngIf="!preview">
                <h4 class="line text-center">{{'displayProject.rating' | translate:lang }}: {{project.rating}}</h4>
                <div class="line">
                    <rating [(ngModel)]="rating" class="line"></rating>  
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>{{project.description}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#content" data-toggle="tab">
                            {{'displayProject.about' | translate:lang }}
                        </a>
                    </li>
                    <li *ngIf="!preview">
                        <a href="#comments" data-toggle="tab">
                            {{'displayProject.comments' | translate:lang }}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" style="min-height: 700px;">
                    <div class="tab-pane active" id="content">
                        <div [innerHTML]="project.content" class="tab-pane active ql-editor " id="content"></div>
                    </div>
                    <div *ngIf="!preview" class="tab-pane" id="comments">
                        <comments [projectId]="id"></comments>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="checkRole()">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
             *ngFor="let goal of project.goals">
            <finansal-goal [finansalGoal]="goal"  [editable]="true"></finansal-goal>
        </div>
    </div>
    <div class="row" *ngIf="!checkRole()">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3"
             *ngFor="let goal of project.goals">
            <finansal-goal [finansalGoal]="goal"  [editable]="false"></finansal-goal>
        </div>
    </div>
    <div class="block" *ngIf="checkRole()">
        <form [formGroup]="finansalGoalForm">
            <div class="create-header"><p>{{'displayProject.finansial' | translate:lang }}</p></div>
            <div class="row">
                <div class="col-xs-6">
                    <input id="finansal-input-title"
                           class="finansal"
                           type="text"
                           placeholder="{{'displayProject.enterGoalName' | translate:lang }}"
                           pInputText
                           maxlength="20"
                           formControlName="title">
                </div>
                <div class="col-xs-6">
                    <input id="finansal-input-cost"
                           class="finansal"
                           type="number"
                           placeholder="{{'displayProject.enterGoalCost' | translate:lang }}"
                           pInputText
                           formControlName="cost">
                    <span class="currency">BYN</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn  btn_subscribe btn_add"
                       (click)="addGoal(finansalGoalForm)">{{'displayProject.add' | translate:lang }}</a>
                </div>
            </div>
        </form>
        <hr>
        <p class="create-desc">{{'displayProject.youCanAdd' | translate:lang }}</p>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="purchase" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>{{'displayProject.purchase' | translate:lang }}</h4>
            </div>
            <div class="modal-body" style="background-color: #ffffff">
                <input id="finansal-input-cost"
                       [(ngModel)]="inputSum"
                       class="finansal"
                       type="number"
                       placeholder="{{'displayProject.enterYourSum' | translate:lang }}"
                       pInputText>
                <div class="modal-footer">
                    <a class="btn  btn_support" data-dismiss="modal" (click)="addPurchase()" style="width: 150px; margin-top: 10px;">{{'displayProject.subscribe' | translate:lang }}</a>
                </div>
            </div>
        </div>
    </div>
</div>