
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toogle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="home">KekStarter</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a asp-area="" routerLink="projects/all">Projects</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!guest" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.login}}  <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" routerLink="profile/{{user.id.toString()}}">Profile</a></li>
                        <li><a asp-area="" routerLink="draft">Create Project</a></li>
                        <li *ngIf="checkAdmin()"><a asp-area="" routerLink="">Admin</a></li>
                        <li><hr style="margin-top: 3px; margin-bottom: 3px;" /></li>
                        <li style="padding-left: 3px;">
                            <button style="background-color: #fff; margin-left: 5px;" (click)="logOut()" class="btn"><span class="glyphicon glyphicon-log-in"></span> LogOut</button>
                        </li>
                    </ul>
                </li>
                <li *ngIf="guest"><a data-toggle="modal" data-target="#ModalView" style="cursor: pointer"><span class="glyphicon glyphicon-log-in"></span> LogIn</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="modal fade bd-example-modal-sm" id="ModalView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" style="background-color: #ffffff">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active">
                        <a href="#login" data-toggle="tab" aria-controls="login" role="tab" title="LogIn"><span class="glyphicon glyphicon-user"></span> LogIn</a>
                    </li>
                    <li role="presentation">
                        <a href="#registration" data-toggle="tab" aria-controls="registration" role="tab" title="Registration"><span class="glyphicon glyphicon-log-in"></span> SignUp</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" role="tabpanel" id="login">
                        <login (myEvent)="handleEvent($event)"></login>
                    </div>
                    <div class="tab-pane fade" role="tabpanel" id="registration">
                        <registration></registration>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<alert></alert>

<div class="body-content">
    <router-outlet></router-outlet>
    <div class="push"></div>
</div>
<hr />
<footer class="footer">
    <div class="text-center center-block">
        <p class="txt-railway">-KekStarter-</p>
        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
    </div>
</footer>
