<div class="container">
    <div class="row text-center">
        <h2>Account confirmation</h2>
        <p>You can't create a project now. You need to verify your person.</p>
        <p>Please, upload your passport scan to verify your account.</p>
        <div class="profile-picture-section">
            <div ng2FileDrop [ng2FileDropSupportedFileTypes]="supportedFileTypes" (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                 [uploader]="uploader" class="profile-picture-section-drop-zone">
                <div class=profile-picture-section-request-image-group>
                    <p class="profile-picture-section-request-image-instructions">Drop a picture here</p>
                </div>
            </div>
            <p class="profile-picture-section-limitations">Scan picture can be .png, .jpeg or .gif only</p>
        </div>
    </div>
</div>
