<div class="container">
    <div class="row text-center" style="margin-top: 150px" *ngIf="user.onCheck">
        <h2>{{ 'Confirmation.yourAccount' | translate:lang }}</h2>
    </div>
    <div class="row text-center" *ngIf="!user.onCheck">
        <h2>{{ 'Confirmation.accountConfirmation' | translate:lang }}</h2>
        <p>{{ 'Confirmation.youCant' | translate:lang }}</p>
        <p>{{'Confirmation.pleaseUpload' | translate:lang }}</p>
        <div class="profile-picture-section" *ngIf="!successUpload">
            <div ng2FileDrop [ng2FileDropSupportedFileTypes]="supportedFileTypes" (ng2FileDropFileAccepted)="dragFileAccepted($event)"
                 [uploader]="uploader" class="profile-picture-section-drop-zone">
                <div class=profile-picture-section-request-image-group>
                    <p class="profile-picture-section-request-image-instructions">{{ 'Confirmation.dropPictureHere' | translate:lang }}</p>
                </div>
            </div>
            <p class="profile-picture-section-limitations">{{ 'Confirmation.scanPictureCanBe' | translate:lang }}</p>
        </div>
        <div *ngIf="successUpload">
            <img src="{{scanImage}}" />
            <div class="controls">
                <a class="btn btn_subscribe" (click)="declineSending()">{{ 'Confirmation.addNewScan' | translate: lang }}</a>
                <a class="btn  btn_subscribe" (click)="sendToServer()">{{ 'Confirmation.send' | translate:lang }}</a>
            </div>
        </div>
        
    </div>
</div>
