<div class="block">
    <div class="image-preview">
        <img src="{{project.image}}">
    </div>
    <div class="content">
        <div class="title">
            <p *ngIf="project.title">{{project.title}}</p>
            <p *ngIf="!project.title">Название проекта</p>
        </div>
        <div class="description">
            <p *ngIf="project.description">{{project.description}}</p>
            <p *ngIf="!project.description">Краткое описание проекта</p>
        </div>
        <div class="total-progress">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [style.width]="progress + '%'">
                    <span class="sr-only">{{project.progress}}% Complete</span>
                </div>
            </div>
            <div class="row" style="height: 60px">
                <div class="col-xs-7">
                    <strong class="card-res-strong">{{project.currentSum}} BYN</strong>
                    <div class="card-res-txt">Собрано ({{project.progress}}%)</div>
                </div>
                <div class="col-xs-5">
                    <strong class="card-res-strong">{{project.leftOver}} Дней</strong>
                    <div class="card-res-txt">осталось</div>
                </div>
            </div>
        </div>
    </div>
</div>