.wizard {
    margin: 20px auto;
    background: #fff;
}

.main {
    background-color: #fbfcfd;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #e0e0e0;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

    span.round-tab i {
        color: #555555;
    }

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
}

    .wizard li.active span.round-tab i {
        color: #5bc0de;
    }

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.block {
    position: relative;
    margin-bottom: 9px;
    border-top: 5px solid transparent;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #333333;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    padding: 20px;
}

#preview {
    margin-top: 50px;
}

[hidden] {
    display: none;
}

.goal-inline-block {
    width: 49%;
    display: inline-block;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.3);
    }

.projectLayout {
    position: relative;
    padding: 30px 0px;
}

    .projectLayout button {
        position: absolute;
        left: 40px;
        bottom: 50px;
    }

a.btn_subscribe {
    width: 45%;
    border: 1px solid rgba(204, 204, 204, 0.3);
    background-color: transparent;
    height: 40px;
    color: #202020;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

    a.btn_subscribe:hover {
        border: 1px solid rgba(204, 204, 204, 1);
        color: #206ea1;
    }

a.btn_save {
    width: 45%;
    background-color: #9E9E9E;
    color: #ffffff;
    height: 40px;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px;
}

    a.btn_save:hover {
        background-color: #555555;
    }

#float-input {
    width: 100%;
    height: 40px;
    padding: 0 11px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1;
}

.finansal {
    width: 100%;
    height: 40px;
    padding: 0 11px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1;
}

.create-header {
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.create-desc {
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 5px;
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}

.textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 13px 11px 10px;
    resize: none;
    color: #333333;
    border: 1px solid #cccccc;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1;
    overflow: auto;
}

.header-image {
    margin-left: 20px;
}

.btn-show-modal {
    background-color: #16B4C3;
    color: #ffffff;
    height: 36px;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

    .btn-show-modal:hover {
        background-color: #189cc3;
    }

.currency {
    position: absolute;
    font-weight: 700;
    font-size: 15px;
    color: #9b9b9b;
    top: 10px;
    right: 10%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn_add {
    margin: 10px 0;
    float: right;
}

.finansal-header {
    margin: 20px 0px 10px 25%;
}

.error {
    border: 1px solid #ac2c23;
}

.error-triangle {
    position: absolute;
    color: #fe3b3b;
    right: 40px;
    top: 72px;
}

.end {
    margin: 30px 15px 0 15px;
}

.error-triangle-date {
    top: 67px;
    left: 270px;
}

.error-message {
    color: #fe3b3b;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    padding: 20px 0 0 45px;
}

.btn_remove {
    display: inline-block;
    margin-bottom: 13px;
    color: #cccccc;
    font-size: 17px;
    margin-right: 20px;
}

    .btn_remove:active {
        box-shadow: none;
    }

    .btn_remove:hover {
        color: #fe3b3b;
    }

.row.main.remove {
    text-align: right;
}

.btn_send {
    margin-top: 40px;
    background-color: #36a12b;
    color: #ffffff;
    height: 40px;
    width: 150px;
    font-family: 'Helvetica Neue', 'Open Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px;
}
