<div class="content-item" id="comments">
    <div class="container">
        <div class="col-sm-8" id="MainComment">
            <h3>{{news.length}} News</h3>
            <div *ngFor="let New of news">
                <div class="fieldset">
                    <legeng>{{New.dateCreated}}</legeng>
                    <div [innerHTML]="New.description" style="word-wrap:break-word;"></div>
                </div>
            </div>
        </div>
        <div class="newComment">
            <div class="col-xs-12">
                <fieldset>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-lg-12">
                            <p-editor [(ngModel)]="content">
                                <p-header>
                                    <span class="ql-formats">
                                        <select class="ql-header">

                                            <option value="2">Subheading</option>
                                            <option selected="">Normal</option>
                                        </select>
                                        <button class="ql-bold" aria-label="Bold"></button>
                                        <button class="ql-italic" aria-label="Italic"></button>
                                        <button class="ql-underline" aria-label="Underline"></button>
                                    </span>

                                </p-header>
                            </p-editor>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" (click)="sendNewOnServer()" class="btn btn-normal pull-right">Add</button>
            </div>
        </div>
    </div>
</div>