<form [formGroup]="projectForm">
    <div class="block">
        <div class="create-header"><p>Название проекта</p></div>
        <input id="float-input" type="text"
               placeholder="Введите название проекта"
               pInputText
               maxlength="70"
               formControlName="title"
               [ngClass]="{'error' : projectForm.controls['title'].hasError('required') && (projectForm.controls['title'].touched || invalid ) }"
               [(ngModel)]="project.title">
        <i *ngIf="projectForm.controls['title'].hasError('required') && ( projectForm.controls['title'].touched || invalid )"
           class="fa fa-exclamation-triangle error-triangle"></i>
        <p class="create-desc">Название должно быть лаконичным, уникальным и запоминающимся. Будьте уверены в том, что название проекта отражает его суть.</p>
    </div>
    <div class="block">
        <div class="create-header"><p>Краткое описание проекта</p></div>
        <textarea class="textarea" [rows]="20" [cols]="30" 
                  pInputTextarea
                  autoResize="autoResize" placeholder="Коротко расскажите о проекте" maxlength="160"
                  formControlName="description"
                  [ngClass]="{'error' : projectForm.controls['description'].hasError('required') && ( projectForm.controls['description'].touched || invalid ) }"
                  [(ngModel)]="project.description">
                                        </textarea>
        <i *ngIf="projectForm.controls['description'].hasError('required') && ( projectForm.controls['description'].touched || invalid )"
           class="fa fa-exclamation-triangle error-triangle"></i>
        <p class="create-desc">Опишите в одном предложении цель вашего проекта.</p>
    </div>
    <div class="block projectLayout">
        <div class="create-header header-image"><p>Обложка проекта</p></div>
        <div class="text-center">
            <img src="{{project.image}}" style="width: 100%" />
        </div>
        <button type="button" class="btn btn-show-modal" data-toggle="modal" data-target="#myModal">Изменить обложку</button>
    </div>
    <div class="block">
        <div class="create-header"><p>Дата окончания компании</p></div>
        <p-calendar  [showIcon]="true"></p-calendar> 
        <span style="margin-left:35px">{{date3|date}}</span>
        <br>
        <i *ngIf="!project.completionDate && invalid"
           class="fa fa-exclamation-triangle error-triangle error-triangle-date"></i>

    </div>
    <div class="block">
        <form [formGroup]="finansalGoalForm">
            <div class="create-header"><p>Финансовая цель</p></div>
            <div class="row">
                <div class="col-xs-6">
                    <input id="finansal-input-title"
                           class="finansal"
                           type="text"
                           placeholder="Введите название цели"
                           pInputText
                           maxlength="20"
                           formControlName="title">
                </div>
                <div class="col-xs-6">
                    <input id="finansal-input-cost"
                           class="finansal"
                           type="number"
                           placeholder="Введите сумму цели"
                           pInputText
                           formControlName="cost">
                    <span class="currency">BYN</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div *ngIf="!project.finansalGoals.length && inva" class="error-message">Проект должен содержать хотя бы одну финансовую цель</div>
                </div>
                <div class="col-xs-6">
                    <a class="btn  btn_subscribe btn_add"
                       (click)="addGoal(finansalGoalForm)">Добавить</a>
                </div>
            </div>
        </form>
        <hr>
        <p class="create-desc">Вы можете создавать несколько целей. Общая сумма проекта будет состоять из суммы всех целей</p>
    </div>
</form>
<div class="block">
    <div class="create-header"><p>Тэги проекта</p></div>
    <i *ngIf="!project.tags.length && invalid"
       class="fa fa-exclamation-triangle error-triangle error-triangle-tags"></i>
    <tag-input theme='minimal'
               [maxItems]='5'
               [validators]="validators"
               [errorMessages]="errorMessages"
               [(ngModel)]="project.tags"
               placeholder="Enter tags"
               secondaryPlaceholder="Enter tags">
    </tag-input>
    <p class="create-desc">Название должно быть лаконичным, уникальным и запоминающимся. Будьте уверены в том, что название проекта отражает его суть.</p>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <drag-and-drop [project]="project" (download)="drop()"></drag-and-drop>
                <input type="file" #fileSelect ng2FileSelect [uploader]="uploader"
                       accept="image/*;capture=camera" hidden="true" (change)="upload()" />
                <button class="btn btn-show-modal right" (click)="load()" style="margin-left: 40%">Выбрать файл</button>
            </div>

        </div>
    </div>
</div>