<form [formGroup]="projectForm">
    <div class="block">
        <div class="create-header"><p>{{'generalInfo.projectName' | translate:lang}}</p></div>
        <input id="float-input" type="text"
               placeholder="{{'generalInfo.inputProjectName' | translate:lang}}"
               pInputText
               maxlength="70"
               formControlName="title"
               [ngClass]="{'error' : projectForm.controls['title'].hasError('required') && (projectForm.controls['title'].touched || invalid ) }"
               [(ngModel)]="project.title">
        <i *ngIf="projectForm.controls['title'].hasError('required') && ( projectForm.controls['title'].touched || invalid )"
           class="fa fa-exclamation-triangle error-triangle"></i>
        <p class="create-desc">{{'generalInfo.projectNameDesc' | translate:lang}}</p>
    </div>
    <div class="block">
        <div class="create-header"><p>{{'generalInfo.shortDesc' | translate:lang}}</p></div>
        <textarea class="textarea" [rows]="20" [cols]="30" 
                  pInputTextarea
                  autoResize="autoResize" placeholder="{{'generalInfo.inputShortDesc' | translate:lang}}" maxlength="160"
                  formControlName="description"
                  [ngClass]="{'error' : projectForm.controls['description'].hasError('required') && ( projectForm.controls['description'].touched || invalid ) }"
                  [(ngModel)]="project.description">
                                        </textarea>
        <i *ngIf="projectForm.controls['description'].hasError('required') && ( projectForm.controls['description'].touched || invalid )"
           class="fa fa-exclamation-triangle error-triangle"></i>
        <p class="create-desc">{{'generalInfo.shortDescDesc' | translate:lang}}</p>
    </div>
    <div class="block projectLayout">
        <div class="create-header header-image"><p>{{'generalInfo.projectCover' | translate:lang}}</p></div>
        <div class="text-center">
            <img src="{{project.image}}" style="width: 100%" />
        </div>
        <button type="button" class="btn btn-show-modal" data-toggle="modal" data-target="#myModal">{{'generalInfo.changeCover' | translate:lang}}</button>
    </div>
    <div class="block">
        <div class="create-header"><p>{{'generalInfo.dateEnd' | translate:lang}}</p></div>
        <p-calendar [inputStyle]="{'background-color' : '#f9f9f9','width': '200px'}"
                    [showIcon]="true"
                    [readonlyInput]="true"
                    [(ngModel)]="project.completionDate"
                    [ngModelOptions]="{standalone: true}"
                    [minDate]="timeNow">
        </p-calendar>
        <span style="margin-left:35px">{{date3|date}}</span>
        <br>
        <i *ngIf="!project.completionDate && invalid"
           class="fa fa-exclamation-triangle error-triangle error-triangle-date"></i>

    </div>
    <div class="block">
        <form [formGroup]="finansalGoalForm">
            <div class="create-header"><p>{{'generalInfo.finanсialGoal' | translate:lang}}</p></div>
            <div class="row">
                <div class="col-xs-6">
                    <input id="finansal-input-title"
                           class="finansal"
                           type="text"
                           placeholder="{{'generalInfo.inputGoalName' | translate:lang}}"
                           pInputText
                           maxlength="20"
                           formControlName="title">
                </div>
                <div class="col-xs-6">
                    <input id="finansal-input-cost"
                           class="finansal"
                           type="number"
                           placeholder="{{'generalInfo.inputGoalCost' | translate:lang}}"
                           pInputText
                           formControlName="cost">
                    <span class="currency">BYN</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div *ngIf="!project.finansalGoals.length && inva" class="error-message">{{'generalInfo.goalsErrorMsg' | translate:lang}}</div>
                </div>
                <div class="col-xs-6">
                    <a class="btn  btn_subscribe btn_add"
                       (click)="addGoal(finansalGoalForm)">{{'generalInfo.add' | translate:lang}}</a>
                </div>
            </div>
        </form>
        <hr>
        <p class="create-desc">{{'generalInfo.finansialGoalsDesc' | translate:lang}}</p>
    </div>
</form>
<div class="block">
    <div class="create-header"><p>{{'generalInfo.projectTags' | translate:lang}}</p></div>
    <i *ngIf="!project.tags.length && invalid"
       class="fa fa-exclamation-triangle error-triangle error-triangle-tags"></i>
    <tag-input theme='minimal'
               [maxItems]='5'
               [validators]="validators"
               [errorMessages]="errorMessages"
               [(ngModel)]="project.tags"
               placeholder="{{'generalInfo.enterTags' | translate:lang}}"
               secondaryPlaceholder="{{'generalInfo.enterTags' | translate:lang}}">
    </tag-input>
    <p class="create-desc">{{'generalInfo.projectTagsDesc' | translate:lang}}</p>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" #closeBtn>&times;</button>
                <h4 class="modal-title">{{'generalInfo.upload' | translate:lang}}</h4>
            </div>
            <div class="modal-body">
                <drag-and-drop [project]="project" (download)="drop()"></drag-and-drop>
                <input type="file" #fileSelect ng2FileSelect [uploader]="uploader"
                       accept="image/*;capture=camera" hidden="true" (change)="upload()" />
                <button class="btn btn-show-modal right" (click)="load()" style="margin-left: 40%">{{'generalInfo.selectFile' | translate:lang}}</button>
            </div>

        </div>
    </div>
</div>