a.tag {
    display: inline-block;
    max-width: 100px;
    height: 28px;
    line-height: 28px;
    padding: 0 .5em;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 0 .3em .3em 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
}

a.tag:hover {
    border: 1px solid rgba(204, 204, 204, 1);
    color: #206ea1;
}

a.projectLink {
    text-decoration: none;
}

.container-fluid {
    position: relative;
}

.row.backgroundPlate {
    box-sizing: border-box;
    height: 700px;
    margin-top: -3%;
    background-color: #534f60;
    background-image: url("../../../../images/homeBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -70px;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.container {
    margin-top: -200px;
    padding-top: 10px;
    z-index: 10;
    background-color: #e5e5e5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.section {
    padding: 0 50px;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

    .section .section-inner .header {
        font-size: 35px;
        font-weight: 500;
    }

    .section .section-inner .content {
        padding: 10px 0;
    }

.promo_divider {
    margin: 40px auto 10px;
    text-align: center;
}

.promo {
    z-index: 1;
}

.divider_btn {
    z-index: 2;
    height: 50px;
    padding: 10px 15px;
    background: #fbfcfd;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #100d0d;
    border: 1px solid rgba(154, 145, 145, 0.24);
    border-radius: 5px;
    /* margin-top: -50px; */
    position: relative;
    top: -35px;
    text-decoration: none;
}

.promo_divider hr {
    border-top: 1px solid rgba(154, 145, 145, 1);
}

.divider_btn:hover {
    color: #459BC9;
    background: #ffffff;
    border: 1px solid rgba(154, 145, 145, 1);
}

@media (min-width: 980px) and (max-width: 1100px) {
    .row.backgroundPlate {
        background-position: -100px -100px;
    }
}

@media (min-width: 850px) and (max-width: 979px) {
    .row.backgroundPlate {
        background-position: -250px -100px;
    }
}

@media (min-width: 768px) and (max-width: 849px) {
    .row.backgroundPlate {
        background-position: -310px -110px;
    }
}

@media (min-width: 685px) and (max-width: 767px) {
    .row.backgroundPlate {
        background-position: -400px -90px;
    }
}

@media (min-width: 550px) and (max-width: 684px) {
    .row.backgroundPlate {
        background-position: -520px -90px;
    }
}

@media (min-width: 450px) and (max-width: 549px) {
    .row.backgroundPlate {
        background-position: -620px -90px;
    }
}

@media (min-width: 300px) and (max-width: 449px) {
    .row.backgroundPlate {
        background-position: -760px -90px;
    }
}
