<h2>{{ 'signup' | translate:lang }}</h2>
<form [formGroup]="registrationForm">
    <div class="form-group">
        <label for="username">{{ 'yourName' | translate:lang }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control"
                   name="username"
                   [ngClass]="{'error' : registrationForm.controls['name'].hasError('required') && (registrationForm.controls['name'].touched || invalid ) }"
                   formControlName="name"
                   placeholder="{{'yourName' | translate:lang }}"
                   [(ngModel)]="model.name" />
        </div>
    </div>
    <div class="form-group">
        <label for="email">{{ 'email' | translate:lang }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input type="text" class="form-control"
                   name="email"
                   [ngClass]="{'error' : registrationForm.controls['email'].hasError('required') && (registrationForm.controls['email'].touched || invalid ) }"
                   formControlName="email"
                   placeholder="{{'email' | translate:lang }}"
                   [(ngModel)]="model.email" />
        </div>
     </div>
    <div class="form-group">
        <label for="login">{{ 'username' | translate:lang }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-certificate"></i></span>
            <input type="text" class="form-control"
                   name="login"
                   [ngClass]="{'error' : registrationForm.controls['login'].hasError('required') && (registrationForm.controls['login'].touched || invalid ) }"
                   formControlName="login"
                   placeholder="{{'username' | translate:lang }}"
                   [(ngModel)]="model.login" />
        </div>
    </div>
    <div class="form-group">
        <label for="password">{{ 'password' | translate:lang }}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control"
                   name="password"
                   [ngClass]="{'error' : registrationForm.controls['password'].hasError('required') && (registrationForm.controls['password'].touched || invalid ) }"
                   formControlName="password"
                   placeholder="{{'password' | translate:lang }}"
                   [(ngModel)]="model.password" />
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="registration()" data-dismiss="modal">{{ 'signup' | translate:lang }}</button>
    </div>
</form>